body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
}
.Contact-title{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    
    
}
.Contact-title h1{
    font-size: 32px;
    line-height: 10px;
    color: gray;
}
.Contact-title h2{
    font-size: 16px;   
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
    
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    background: #0BD4F3;
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover{
    background-color: #0BD4F3;
    cursor: pointer;
}






